{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade"
      }
    }
  ]
}
